 * {
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
 }
 
 
 
 .dashboard-main {
    height: 100vh;
 
    overflow: hidden;
}

.dashboard-title {
    height: 10vh;
}
.dashboard-subtitle {
    height: 10vh;
}


 .dashboard-characters {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;

}

/*.dashboard-character {
    width: 25%;
    border: solid;
    height: 250px;
} */