.dashboard-main {
    height: 100%;
    border: solid;
    box-sizing: border-box;
}

.dashboard-title {
    height: 10vh;
}
.dashboard-subtitle {
    height: 10vh;
}


.dashboard-characters {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
  align-items: center;
}

.dashboard-character {
    width: 25%;
    border: solid;
    height: 250px;
}